<h1 class="main-ui-body-title">Options</h1>

<div class="main-content-box-matrix">
	<div class="main-content-box new-item">

		<div class="option-block">
			<label class="option-label">Music Volume:</label>
			<div class="option-handle">
				<input type="range" class=" master_music_volume" min="0" max="1" step=".01" value="1" />
			</div>
		</div>

		<div class="option-block">
			<label class="option-label">Sound Effect Volume:</label>
			<div class="option-handle">
				<input type="range" class="master_soundeffect_volume" min="0" max="1" step=".01" value="1" />
			</div>
		</div>

		<div class="option-block">
			<label class="option-label">Invert Camera Rotation:</label>
			<div class="option-handle">
				<input type="checkbox" class="invert_camera_rotation" />
			</div>
		</div>

	</div>
</div>