<label for="pw-dialog-input-id">Password:</label>
<br />
<input type="password" name="password" id="pw-dialog-input-id">
<input type="submit" class="button-connect" value="Connect" data-guid="{{ guid }}" data-pw-input="#pw-dialog-input-id">