# Ignore unneeded Unity files
# --------------------------------------------------
Radius/Temp/
Radius/obj/
Radius/Library/

Radius/*.csproj
Radius/*.unityproj
Radius/*.sln

# Ignore Custom Builds
# --------------------------------------------------
Radius/[Bb]uilds/


# Ignore fonts that we can't include because of their EULA
Radius/UIResources/fonts/mission_gothic/

# Ignore Coherent UI (against licensing): Go get a free evalutation version: http://coherent-labs.com/
# --------------------------------------------------
Radius/Coherent_UI.log
Radius/Assets/CoherentUI
Radius/Assets/CoherentUI.meta
Radius/Assets/Standard Assets/Scripts/CoherentUI
Radius/Assets/Standard Assets/Scripts/CoherentUI.meta
Radius/Assets/Standard Assets/Shaders/CoherentUI
Radius/Assets/Standard Assets/Shaders/CoherentUI.meta
Radius/Assets/StreamingAssets/CoherentUI_Host
Radius/Assets/StreamingAssets/CoherentUI_Host.meta
Radius/Assets/StreamingAssets/CoherentUI64_Native.dll
Radius/Assets/StreamingAssets/CoherentUI64_Native.dll.meta
Radius/Assets/StreamingAssets/CoherentUINet.dll64
Radius/Assets/StreamingAssets/CoherentUINet.dll64.meta
Radius/Assets/StreamingAssets/D3DCompiler_43.dll
Radius/Assets/StreamingAssets/D3DCompiler_43.dll.meta
Radius/Assets/StreamingAssets/d3dx9_43.dll
Radius/Assets/StreamingAssets/d3dx9_43.dll.meta
Radius/Assets/Plugins/CoherentUI*
Radius/Assets/Plugins/CoherentUI*.meta
Radius/Assets/Plugins/D3DCompiler_43.dll
Radius/Assets/Plugins/D3DCompiler_43.dll.meta
Radius/Assets/Plugins/d3dx9_43.dll
Radius/Assets/Plugins/d3dx9_43.dll.meta
Radius/Assets/Plugins/libCoherentUI_Native.so
Radius/Assets/Plugins/libCoherentUI_Native.so.meta
Radius/Assets/Plugins/iOS/CoherentUI.mm
Radius/Assets/Plugins/iOS/CoherentUI.mm.meta
Radius/Assets/Plugins/iOS/libCoherentUIMobile.a
Radius/Assets/Plugins/iOS/libCoherentUIMobile.a.meta
Radius/Assets/Plugins/Android/CoherentAndroid.jar
Radius/Assets/Plugins/Android/CoherentAndroid.jar.meta
Radius/Assets/Plugins/Android/libCoherentAndroidNative.so
Radius/Assets/Plugins/Android/libCoherentAndroidNative.so.meta
Radius/Assets/WebPlayerTemplates/uiresources
Radius/Assets/WebPlayerTemplates/uiresources.meta
Radius/Assets/Gizmos/Coherent_UI_docs.png
Radius/Assets/Gizmos/Coherent_UI_docs.png.meta
Radius/Assets/Gizmos/Coherent_UI_inspector.png
Radius/Assets/Gizmos/Coherent_UI_inspector.png.meta
Radius/Assets/Gizmos/Coherent_UI_support.png
Radius/Assets/Gizmos/Coherent_UI_support.png.meta
Radius/Assets/Gizmos/CoherentUIView_icon.png
Radius/Assets/Gizmos/CoherentUIView_icon.png.meta


