<div class="main-content-box map-content-box new-item">
	<h2 class="main-content-box-title">Maps:</h2>

	<div class="map-holder">
		{{#each levelList}}
			{{> ./../modules/map-item/map-item }}
		{{/each}}
	</div>

	<div class="box-button-matrix align-buttons-right">
		<div class="box-button half-button button-maps-close">Done</div>
	</div>
</div>