{{!-- Make of list of the levels
	 Or just make one with the single
--}}

{{#each levels}}
	<div class="map-item"><div class="map-item-title">{{this}}</div></div>
{{else}}
	<div class="map-item"><div class="map-item-title">{{this}}</div></div>
{{/each}}