

<div class="territory-progress-wrapper">
	<div class="territory-progress-holder">
		
		<div class="territory-progress">
			<div class="territory-progress-liquid"></div>
		</div>

	</div>
</div>



<div class="score-holder">
</div>