<div class="main-content-box profile-content-box new-item">
	<h2 class="main-content-box-title gamertag">{{gamertag}}</h2>

	<form class="profile-edit-form">
		<input type="hidden" name="guid" value="{{guid}}" class="guid" />
		<label for="gamertag-input">Username: </label><input type="text" value="{{gamertag}}" class="gamertag-input" />
		<input type="text" class="gamertag-color-input colorpicker" />
	</form>

	<div class="box-button-matrix align-buttons-right">
		<div class="box-button half-button button-profile-close">Done</div>
	</div>
</div>